<%- include('header') -%>

<!-- Requires
  title : String,
  description : String[],
  imgLink : String,
  option1, option2 : String,            ['Lets go!', 'Stay at home']
  destination1, destination2 : String,  ['/adventure/bridge', '/end/home']
  hasUser : boolean,
  includeStats : boolean
   -->

<!-- If hasUser, then requires
  username: String-->

<!-- If includeStats, then requires
  energy: int,
  money: int-->

<!-- optional
  consequence : String-->


<% if (hasUser) { %>
  <div style="display: flex;justify-content: space-between;">
    <h3>You are user: <%= username %></h3>
    <%- include('restart') -%>
  </div>
<% } %>
<h1> <%= title %></h1>
<p><%= consequence %></p>

<img src="<%= imgLink %>">

<p style="white-space: pre-line"> <%= description %> </p>
<br>
<% if (includeStats) { %>
  <div style="display: flex; justify-content: center;">
    <h3>energy: <%= energy %></h3>&nbsp
    <h3>money: <%= money %></h3>
  </div>
<% } %>
<div style="display: flex;justify-content: center;">
  <div style ='float: left; padding: 5px;'>
    <form action="<%= destination1 %>" method="post">
      <input type="hidden" name="option" id="option" value="1">
      <button><%= option1 %></button>
    </form>
  </div>
  <div style ='float: left; padding: 5px;'>
    <form action="<%= destination2 %>" method="post">
      <input type="hidden" name="option" id="option" value="2">
      <button><%= option2 %></button>
    </form>
  </div>
</div>


<%- include('footer') -%>
