<%- include('header') -%>

<!-- Requires title : String, description : String[], imgLink : String, hasUser : boolean -->
<!-- optional consequence : String-->

<h1> <%= title %></h1>
<% if (hasUser) { %>
  <h3>You are user: <%= username %></h3>
<% } %>

<img src="<%= imgLink %>">


<p><%= consequence %></p>

<p style="white-space: pre-line"> <%= description %> </p>
<br>
<div style ='float: left; padding: 5px;'>
<form action="<%= destination1 %>" method="patch">
  <input type="hidden" name="option" value="1">
  <button><%= option1 %></button>
</form>
</div>
<div style ='float: left; padding: 5px;'>
<form action="<%= destination2 %>" method="patch">
  <input type="hidden" name="option" value="2">
  <button><%= option2 %></button>
</form>
</div>


<%- include('footer') -%>
